<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to <%= title %>
  </p>

  <div>
    用户名 <input id="username" type="text">
    <br>
    密码：<input id="password" type="password">
    <br>
    年龄：<input type="number"  id="age">
  </div>

  <button class="addBtn">添加用户</button>
  <button class="updateBtn">更新用户</button>
  <button class="deleteBtn">删除用户</button>

  <div class="list">
  
  </div>

  <table border="1">
    <thead>
      <tr>
        <td>id</td>
        <td>username</td>
        <td>age</td>
        <td>option</td>
      </tr>
      <tbody>

      </tbody>
    </thead>
  </table>

  <script>
    const username = document.querySelector("#username")
    const password = document.querySelector("#password")
    const age = document.querySelector("#age")
    const addBtn = document.querySelector(".addBtn")
    const updateBtn = document.querySelector(".updateBtn")
    const deleteBtn = document.querySelector(".deleteBtn")

    const list = document.querySelector('.list')


    addBtn.addEventListener("click",()=>{
      
      fetch("/api/users",{
        method:"POST",
        headers:{
          "Content-Type":"application/json"
        },
        body:JSON.stringify({
          username:username.value,
          password:password.value,
          age:age.value
        })
      }).then(res=>res.json()).then(res=>{
        console.log(res)
        if(res.ok===0){
          location.href='/login'
        }
      })
    })

    updateBtn.addEventListener("click",()=>{
      console.log("???")
      fetch("/api/users/640c45cec483400536ecc0e7",{
        method:"PUT",
        headers:{
          "Content-Type":"application/json"
        },
        body:JSON.stringify({
          username:'修改',
          password:'修改',
          age:100000
        })
      }).then(res=>res.json()).then(res=>{
        console.log(res)
        if(res.ok===0){
          location.href='/login'
        }
      })
    })


    deleteBtn.addEventListener("click",()=>{
      fetch('/api/users/640d9cd6272b9dc55d24aa6e',{
        method:"DELETE"
      }).then(res=>res.json()).then(res=>{
        console.log(res)
        if(res.ok===0){
          location.href='/login'
        }
      })
    })


    fetch("/api/users").then(res=>res.json()).then(res=>{
      console.log(res)
      if(res.ok===0){
          location.href='/login'
        }
  
      list.innerHTML = res.map(item=>`
      <span>${item.username}</span>
      <span>${item.password}</span>
      `)

      let tbody = document.querySelector("tbody")
      tbody.innerHTML = res.map(item=>`
        <tr>
            <td>${item._id}</td>
            <td>${item.username}</td>
            <td>${item.age}</td>
            <td>
              <button onclick="deleteThis('${item._id}')">删除此项</button>  
            </td>
        </tr>
      `).join("")
      
    })

    function deleteThis(id){
      console.log('aaa')
      fetch(`/api/users/${id}`,{
        method:"DELETE"
      }).then(res=>res.json()).then(res=>{
        
        console.log(res)
        if(res.ok===0){
          location.href='/login'
        }else{
          location.reload()
        }
      })
    }
    

  </script>
</body>

</html>